spec:
  containers:
    - name: web-api
      image: web-api:latest
      imagePullPolicy: IfNotPresent
      ports:
        - containerPort: 8000
          name: http
          protocol: TCP
      resources:
        requests:
          cpu: "250m"
          memory: "128Mi"
        limits:
          cpu: "500m"
          memory: "256Mi"
